body > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.menu {
    font-size: 0;
    background: #09b047;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    flex-shrink: 0;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.menu div > a {
    display: inline-block;
    color: #fff;
    padding: 15px;
    font-size: 20px;
}

.menu div > a:hover {
    background: #078636;
}

.contenido {
    overflow: auto;
    background: #f0f0f0;
    flex-grow: 1;
    text-align: center;
}

.sitio {
    background: #fff;
    padding-bottom: 50px;
}

.sitio:nth-child(even) {
    background: #f0f0f0;
}

.sitio > h1 {
    color: #008299;
    padding: 40px 0 0px;
}

.sitio > p {
    font-size: 22px;
    margin: 25px auto;
    max-width: 70%
}

.imgContainer {
    font-size: 0;
}

.imgContainer img {
    max-width: 60%;
    margin-bottom: 10px;
    border-radius: 5px;
}

.giras > h2 {
    background: rgba(0, 0, 0, 0.05);
    color: #008299;
    padding: 8px 0;
    text-align: center;
}

.giras {
    margin: 20px auto;
    width: 60%;
    border: 5px solid rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background: #fff;
}

.giras p {
    font-size: 18px;
    text-align: left;
}

b {
    color: #008299;
}

.giras > div {
    background: rgba(240, 240, 240, 0.5);
    margin: 15px;
    padding: 10px 15px;
    display: inline-block;
}

.giras button, form button, p button {
    font-size: 18px;
    padding: 5px 10px;
    background: #09b047;
    color: #fff;
    margin-top: 15px;
}

/* Popups*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;overflow: auto;
}

.popup .popContenido {
    background: #fff;
    display: inline-block;
    margin-top: 10px;
    min-width: 40%;
    border-radius: 5px;
    overflow: hidden;

}

.popContenido h2 {
    background: #000;
    color: #09b047;
    font-size: 28px;
    padding: 8px 20px;
    position: relative;
    text-align: left;
}

h2 span {
    /* botón de cerrar */
    position: absolute;
    background: red;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 26px;
    top: 0;
    right: 0;
    height: 100%;
}

.popContenido > div {
    padding: 15px;
    text-align: left;
}

.popContenido > div p {
    margin: 10px;
    font-size: 18px;
}

.popContenido > div p > span {
    display: block;
    margin-left: 35px;
}

.popContenido > div p > span:before {
    content: "- ";
}

form {
    margin-left: 35px;
    margin-bottom: 20px;
    font-size: 20px;
}

form table{
    margin-left: 20px;
}
