/* Popups*/

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: auto;
}

.popup .popContenido {
    background: #fff;
    display: inline-block;
    margin-top: 10px;
    min-width: 40%;
    border-radius: 5px;
    overflow: hidden;

}

.popContenido h2 {
    background: #0abf4d;
    color: #ffffff;
    font-size: 28px;
    padding: 8px 20px;
    position: relative;
    text-align: left;
}

h2 span {
    /* botón de cerrar */
    position: absolute;
    background: red;
    color: #fff;
    display: inline-block;
    padding: 10px 15px;
    font-size: 26px;
    top: 0;
    right: 0;
    height: 100%;
}

.popContenido > div {
    padding: 0px 30px;
    text-align: left;
}

.popContenido > div p {
    margin: 10px;
    font-size: 18px;
}

.popContenido > div p input[type='number'],
.popContenido > div p select,
.popContenido > div p textarea,
.popContenido > div p input[type='text'] {
    width: 100%;
}

.popContenido > div p textarea {
    resize: none;
}

.popContenido > div p input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.popContenido > div p > span {
    background: #0b0b0b;
}

.checkContainer {
    background: #ff0000;
    margin-left: -20px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #fff;
}

/* Hide the browser's default checkbox */

.checkContainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    height: 25px;
    width: 25px;
    background-color: #c1c1c1;
    border-radius: 5px;
}

/* On mouse-over, add a grey background color */

.checkContainer:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.checkContainer input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.checkContainer input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.checkContainer .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}
.checkBoxSiNo:after{
    padding-top: 50px;
    border: none!important;
}


/*Botones del Pop Up*/

.buttonContainer {
    padding: 0px!important;
}

.popup button,
.popup input[type='submit'] {
    font-size: 18px;
    padding: 8px 10px;
    color: #fff;
    margin-top: 15px;
    background: #09b047;
    box-shadow: 0 2px #666;
    margin: 5px 3px;
    min-width: 100px
}

.popup button:hover,
.popup input[type='submit']:hover {
    background: #08a141;
}

.popup button:active,
.popup input[type='submit']:active{
    box-shadow: 0 0px #666;
}

/*Subpages o Includes*/

table i {
    font-size: 25px!important;
    margin: 2px;
    padding: 2px;
}

.unidadesMedida {
    background: rgb(221, 221, 221);
    margin-left: 10px;
    display: inline-flex;
    flex-direction: column;
    font-size: 15px;
    cursor: pointer;
    padding: 2px;
    border-radius: 2px;
}

.marginAuto {
    margin: auto;
}


/* Efectos al hacer hover*/

.confirmHover:hover {
    color: darkblue;
}

.deleteHover:hover {
    color: darkred;
}

.paddingLeft0 {
    margin-left: 0;
}

.mW200px {
    max-width: 200px;
}

.h100pc {
    height: 100%
}
.h100pc.selectClass{
    background-color: #140e39;
    color: #fff;
}

.fullPaddingIzqDer {
    padding: 0px 10px
}

.mW30pc {
    max-width: 30%
}

.fullPadding {
    padding: 5px;
}
.fullMargin {
    margin: 5px;
}
