body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    height: 100vh;
    color: whitesmoke;
}

.login {
    background: #fff;
    border-radius: 10px;
}

.login .title {
    background: #09b047;
    color: #fff;
    padding: 10px;
}

.login form {
    padding: 10px 20px;
}

input{
    color: #555;
}

select{
    color: #555;
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

button {
    background-color: #008CBA; /* Blue */
    margin: 5px;
    color: white;
    text-align: center;
}

.bgImage{
    background-image: url(/img/wallpaper.jpg);
    background-size: cover;
}
.bgTransparent{
    background-color: transparent;
}
.bgGray{
    background-color: rgba(0,0,0,0.5);
}

.link{
    font-size: 14px;
    text-decoration: underline;
    color: cornflowerblue;
    font-style: italic;
}

.link:hover{
    font-style: normal;
}

