/* todo lo relacionado con el menú */

.headerHeight{
    height: 80px;
}

.menu * {
    font-family: Roboto;
}

.menu {
    min-height: 100vh;
    background: #ccc;
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    color: #fff;
    transition: ease all 250ms;
    z-index: 1;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

.menu > span {
    /*background: rgba(0, 0, 0, 0.7);*/
    background: var(--colorAzul);
    display: block;
    padding: 20px 15px;
    font-size: 23px;
    color: #fff;

}

.menu label {
    color: #fff;
}

.menu label:before {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    position: absolute;
    top: 15px;
    font-size: 20px;
    padding: 8px 10px;
    cursor: pointer;
    font-family: fontawesome;
    transition: ease all 250ms;
    background: #fff;
    color: #000;
}


.menu a {
    display: block;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 20px;
    padding: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:nth-child(1) {
    border-top: none;
}

.menu a:hover {
    background: var(--colorVerde);
    border-left: 2px solid;
    text-decoration: underline;
}


#chkMenu {
    display: none;
}

#chkMenu:checked ~ .menu {
    transform: translateX(-100%);
}

.main{
/*    background: #000;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
#chkMenu:not(checked) ~ .main {
    margin-left: 280px;
}

#chkMenu:checked ~ .main {
    margin-left: 0px;
}

#chkMenu:checked ~ .menu label:before {
    content: "\f0c9";
    right: -50px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}

#chkMenu:not(checked) ~ .menu label:before {
    content: "\f070";
    right: 15px;
}
