/* Variables de Color */


.headerPrincipal {
    background: var(--colorAzul);
    color: #fff;
    padding: 10px 30px;
}

.colorBlanco {
    color: white;
    padding: 10px 30px;
}

.usuarioActivo {
    font-size: 14px;
    text-align: left;
}
.usuarioActivo :hover{
    color: cadetblue;
}

.mc {
    background: #fbfbfb;
    flex-grow: 1;
    width: 90%;
    margin: auto;
}

.mc h1 {
    background: var(--colorVerde);
    color: #fff;
    padding: 10px 30px;
}
.tbNuevoVehi{
    margin: auto;
}
.tbNuevoVehi tr th{
    padding: 15px;
}

.tbLista{
    border-collapse: collapse;
    margin: auto;
    width: 100%
}

.tbLista i{
    padding: 5px;
    cursor: pointer
}

.tbLista th, td {
    padding: 8px;
}
.tbLista tr:nth-child(even){background-color: #e8e8e8}
.tbLista th {
    background-color: var(--colorVerde3);
    color: white;
}

.button {
  padding: 5px 5px;
  font-size: 17px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #747a90;
  border-radius: 4px;
  box-shadow: 0 2px #999;
}

.button:hover {background-color: #696e81}

.button:active {
  background-color: #656a7d;
  box-shadow: 0 3px #666;
  transform: translateY(2px);
}
