<!DOCTYPE html>
<html lang="es" ng-app="app" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <title>SIEQ</title>
    <link rel="icon" href="img/logo.png" >
    <link rel="stylesheet" href="css/menuAdmin.css">
    <link rel="stylesheet" href="css/panelAdmin.css">
    <link rel="stylesheet" href="css/globales.css">
    <link rel="stylesheet" href="css/estilosWeb.css">
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <input id="chkMenu" type="checkbox">
        <div class="menu"><span>Menú de Opciones</span>
            <label for="chkMenu"></label>
            <div>
                <a href="#!adminSitios"><i class="marginDer10 fa fa-book" aria-hidden="true"></i>Inventarios</a>
                <a href="#!adminFlotillas"><i class="marginDer10 fa fa-line-chart" aria-hidden="true"></i>Reportes</a>
                <a href="#!adminGiras"><i class="marginDer10 fa fa-pencil-square-o" aria-hidden="true"></i>Pedidos</a>
                <a href="#!adminReservaciones"><i class="marginDer10 fa fa-exclamation-triangle" aria-hidden="true"></i>Alertas</a>
                <a href="#!"><i class="marginDer10 fa fa-handshake-o" aria-hidden="true"></i>Préstamos</a>
                <a href="#!"><i class="marginDer10 fa fa-exclamation" aria-hidden="true"></i>Precursores</a>
                <a href="#!"><i class="marginDer10 fa fa-users" aria-hidden="true"></i>Usuarios</a>
                <a href="#!"><i class="marginDer10 fa fa-comments-o" aria-hidden="true"></i>Chat</a>
            </div>
        </div>
        <div ng-include="templateUrl"></div>
        <div class="main">
            <div class="headerPrincipal headerHeight">
                <div class="aCentro f26">
                    Sistema de Invetario de la Escuela de Química (SIEQ)
                </div>
                <div class="usuarioActivo">
                    <a href="#">Armando LC{{nombreUsuarioActivo}} | Coordinador{{rolUsuarioActivo}}</a>
                </div>
            </div>

            <div ng-view class="mc aCentro"></div>

            <!-- alerts, prompt y confirm personalizados -->
            <div class="alertContainer">
                <div class="alert" ng-class="a.classAlert" ng-repeat="a in listaAlerts">
                    <div><span ng-click="a.ocultarAlerta()">X</span><i class="fa fa-info-circle" aria-hidden="true"></i> {{a.texto}} </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/scripts.js"></script>
    <script src="js/appConfigRoute.js"></script>
</body>

</html>
