<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" href="css/globales.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" type="image/png" href="img/favicon.png" />
</head>

<body class="bgImage">
    <div class="login bgGray" ng-controller="login">
        <div class="title">Iniciar Sesión</div>

        <form ng-init="l={}" ng-submit="ingresar(l)" class="aDer">
            <table>
                <tr>
                    <td>Usuario:&nbsp;</td>
                    <td>
                        <input type="text" ng-model="l.Usuario" autofocus required> </td>
                </tr>
                <tr>
                    <td>Contraseña:&nbsp; </td>
                    <td>
                        <input type="password" ng-model="l.Contrasenha" required> </td>
                </tr>
            </table>
            <button type="submit">Ingresar al Sistema</button>
        </form>
        <div class="aCentro marginB20">¿Nuevo en el SIEQ? <a href="registrarse.html" class="link">Registrarse</a></div>
    </div>
    <div class="alertContainer">
        <div class="alert" ng-class="a.classAlert" ng-repeat="a in listaAlerts">
            <div><span ng-click="a.ocultarAlerta()">X</span><i class="fa fa-info-circle" aria-hidden="true"></i> {{a.texto}} </div>
        </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
