<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión - Panel Administrador</title>
    <link rel="stylesheet" href="css/globales.css">
    <link rel="stylesheet" href="css/login.css">
</head>

<body >
    <div class="login" ng-controller="login">
        <div class="title">Panel de Administrador | Iniciar Sesión</div>
        <form ng-init="l={}" ng-submit="ingresar(l)" class="aDer">
            <table>
                <tr>
                    <td>Usuario:&nbsp;</td>
                    <td>
                        <input type="text" ng-model="l.pUser" autofocus required> </td>
                </tr>
                <tr>
                    <td>Contraseña:&nbsp; </td>
                    <td>
                        <input type="password" ng-model="l.pPass" required> </td>
                </tr>
            </table>
            <button type="submit">Ingresar al sistema</button>
        </form>
    </div>
    <div class="alertContainer">
        <div class="alert" ng-class="a.classAlert" ng-repeat="a in listaAlerts">
            <div><span ng-click="a.ocultarAlerta()">X</span><i class="fa fa-info-circle" aria-hidden="true"></i> {{a.texto}} </div>
        </div>
    </div>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/scripts.js"></script>
</body>

</html>
