<!DOCTYPE html>
<html lang="es" ng-app="app" ng-controller="mainController">

<head>
    <meta charset="UTF-8">
    <title>Explorando Sitios Turísticos</title>
    <link rel="stylesheet" href="css/globales.css">
    <link rel="stylesheet" href="css/estilosWeb_otro.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <div class="menu" ng-init="popupMisReservaciones = false">
            <div>
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Inicio</a>
                <a href="#"><i class="fa fa-pagelines" aria-hidden="true"></i> Sitios turísticos</a>
            </div>
            <div><a href="#" ng-click="popupMisReservaciones = true"><i class="fa fa-suitcase" aria-hidden="true"></i> Mis reservaciones</a>
            </div>
        </div>
        <div ng-include="templateUrl"></div>
        <div class="contenido">
            <div class="sitio">
                <h1>Título del sitio turístico</h1>
                <p>Descripción del sitio turístico Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo aspernatur harum, sed. Dolorum quibusdam laborum ut deserunt aut quo necessitatibus porro est, itaque, adipisci perspiciatis. Perferendis dolore, minus illo ratione?</p>
                <div class="imgContainer">
                    <!--
                    <img src="img/ejemplos/3.png" alt="">
                    <img src="img/ejemplos/1.png" alt="">
-->
                </div>
                <div class="giras">
                    <h2>Excursiones disponibles</h2>
                    <div>
                        <p><b>Fecha:</b> 25-01-2017 19:30</p>
                        <p><b>Salida:</b> Buenos Aires, Puntarenas</p>
                        <button>Reservar</button>
                    </div>
                    <div>
                        <p><b>Fecha:</b> 28-01-2017 19:30</p>
                        <p><b>Salida:</b> Palmares, Alajuela</p>
                        <button ng-click="popupReservar = false">Reservar</button>
                    </div>
                    <div>
                        <p><b>Fecha:</b> 30-01-2017 19:30</p>
                        <p><b>Salida:</b> San Ramón, Alajuela</p>
                        <button>Reservar</button>
                    </div>
                </div>
            </div>
            <div class="alertContainer">
                <div class="alert" ng-class="a.classAlert" ng-repeat="a in listaAlerts">
                    <div><span ng-click="a.ocultarAlerta()">X</span><i class="fa fa-info-circle" aria-hidden="true"></i> {{a.texto}} </div>
                </div>
            </div>
        </div>
        <div ng-show="popupReservar" class="popup">
            <div class="popContenido">
                <h2>Reservar excursión <span class="pointer" ng-click="popupReservar=false">X</span></h2>
                <div>
                    <p><b>Destino:</b> Título del sitio turístico a reservar</p>
                    <p><b>Fecha Salida:</b> 28-01-2017 18:30</p>
                    <p><b>Cupos disponibles:</b> 30</p>
                    <p><b>Fecha límite depósito (% del monto): </b> 23-01-2017 18:30</p>
                    <p><b>Fecha límite de pago:</b> 26-01-2017 18:30</p>
                    <p>
                        <b>Puntos de recogida:</b>
                        <span>Palmares, Alajuela</span>
                        <span>Punto de recogida 2</span>
                        <span>Punto de recogida 3</span>
                    </p>
                    <p>
                        <b>Transporte con servicio de:</b><br>
                        <span>Aire acondicionado</span>
                        <span>Música</span>
                        <span>WiFi gratuito</span>
                        <span>Otros</span>
                    </p>
                    <p>
                        <b>Precios:</b>
                        <span>Niños: ₡1500</span>
                        <span>Mayores: ₡2500 </span>
                        <span>Adultos: ₡1800</span>
                    </p>

                    <form action="">
                        <br>
                        <b><h3>Complete el siguiente formulario para realizar su reservación</h3></b><br>
                        <table>
                            <tr>
                                <td>Nombre completo:&nbsp;&nbsp;</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Teléfono:&nbsp;&nbsp;</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Cupos niños:&nbsp;&nbsp;</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Cupos adultos:&nbsp;&nbsp;</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Cupos mayores:&nbsp;&nbsp;</td>
                                <td><input type="text"></td>
                            </tr>
                            <tr>
                                <td>Total ₡:&nbsp;&nbsp;</td>
                                <td>5000</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td class="aCentro"><button>Realizar reservación</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div ng-show="popupMisReservaciones" class="popup">
            <div class="popContenido">
                <h2>Mis reservaciones <span class="pointer" ng-click="popupMisReservaciones=false">X</span></h2>
                <div ng-init="objReservacion = {}">
                    <p><b class="f22">Consultar información de reservación</b></p>
                    <p>ID de su reservación: <input type="number" ng-model="objReservacion.pIdReservacion"> <button ng-click="consultarReservacion(objReservacion)">Consultar</button></p>
                    <div ng-show="objConsultaRes.pIdReservacion">
                        <p>Reservación ID {{objConsultaRes.pIdReservacion}}</p>
                        <p>Cancelado: <i ng-show="objConsultaRes.cancelado==1">Sí</i><i ng-hide="objConsultaRes.cancelado==1">No</i></p>
                        <p>Deposito realizado: <i ng-show="objConsultaRes.depositado==1">Sí</i><i ng-hide="objConsultaRes.depositado==1">No</i></p>
                        <p>Pago final realizado: <i ng-show="objConsultaRes.depositado==1">Sí</i><i ng-hide="objConsultaRes.depositado==1">No</i></p>
                        <button ng-show="objConsultaRes.cancelado==0" class="bgCelestillo marginL20 f20" ng-click="cancelarReservacion(objConsultaRes)">Cancelar esta reservación</button>

                        <p ng-show="objConsultaRes.cancelado==0"><b class="f22">Adjuntar comprobantes</b></p>
                        <p ng-show="objConsultaRes.cancelado==0">Comprobante despósito: <input type="file" file-model="pimgDep"> <button ng-click="enviarComprobanteDeposito(objConsultaRes,pimgDep)">Enviar</button></p>
                        <p ng-show="objConsultaRes.cancelado==0">Comprobante pago final: <input type="file" file-model="pimgPagoFin"> <button ng-click="enviarComprobanteFinal(objConsultaRes,pimgPagoFin)">Enviar</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/angular.min.js"></script>
    <script src="js/angular-cookies.js"></script>
    <script src="js/scriptsOtraPagina.js"></script>
</body>

</html>
