<h1>Administración de Inventarios</h1>
<ul class="ulMenu">
  <li class="liMenu"><a class="aMenu" href="#!adminInventarioReactivos">Reactivos</a></li>
  <li class="liMenu"><a class="activeMenu aMenu" href="#!adminInventarioCristaleria">Cristalería</a></li>
</ul>
<br>
<!--<h2>Inventario de Reactivos Químicos</h2> -->

<div style="display: flex; justify-content: space-between; padding: 10px 0px">
    <div class="flex">
        <input class="fullMargin" type="text" ng-model="filtroCristaleria" placeholder="Buscar" id="txtBusqueda">
        <i class="fa fa-search" style="margin-left: -25px; margin-top: 10px; margin-right: 10px;"></i>
    </div>
    <div>
        <button class="h100pc" ng-click="popupCrearCristaleria = true" title="Agregar Nueva Cristalería"> <i class="fa fa-plus"></i> Agregar Nuevo</button>
        <button class="h100pc fullPaddingIzqDer" ng-click="cargarListaCristaleria()" title="Actualizar lista"><i class="fa fa-refresh"></i></button>
    </div>
</div>
<table class="tbLista">
    <tr class="aCentro">
        <th>Nombre:</th>
        <th>Descripción:</th>
        <th>Ubicación:</th>
        <th>Cant Actual:</th>
        <th>Cant de Alerta:</th>
        <th>Opciones</th>
    </tr>
    <tr class="aCentro" ng-repeat="c in listaCristaleria | filter:filtroCristaleria">
        <td>{{c.NombreArticulo}}</td>
        <td class="mW200px">{{c.Descripcion}}</td>
        <td>{{c.Ubicacion}}</td>
        <td>{{c.CantidadActual}}</td>
        <td> {{c.PuntoReorden}}</td>
        <td>
            <div class="flex noWrap">
                <i class="fa fa-pencil" ng-click="preEditarReactivo(r)" title="Editar"></i><i class="fa fa-retweet" title="Movimientos"></i><i class="fa fa-trash" ng-click="preBorrarReactivo(r)" title="Borrar"></i>
            </div>
        </td>
    </tr>
</table>

<div ng-init="popupCrearCristaleria = false" ng-show="popupCrearCristaleria" class="popup">
    <form ng-submit="agregarCristaleria()">
        <div class="popContenido">
            <h2 style="padding-left: 30px">Crear Activo de Cristaleria &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<span class="pointer" ng-click="popupCrearCristaleria=false; objCristaleria = {}">X</span></h2>
            <div ng-init="objCristaleria = {}">
                <p><b class="f22">Detalles del Reactivo</b></p>
                <p>Nombre<input type="text" ng-model="objCristaleria.Nombre" required></p>
                <p>Descripción <textarea name="" id="" cols="30" rows="3" ng-model="objCristaleria.Descripcion"></textarea> </p>
                <p>Ubicación<input type="text" ng-model="objCristaleria.Ubicacion" required></p>
                <p>Cantidad Inicial<input type="number" ng-model="objCristaleria.CantidadActual" step="1" required></p>
                <p>Cantidad alerta<input type="number" ng-model="objCristaleria.PuntoReorden" step="1" required></p>
            </div>
            <div class="buttonContainer aDer">
                <input type="submit" value="Agregar">
            </div>
        </div>
    </form>
</div>

<div ng-show="popupEditarReactivo" ng-init="reactivoEditar = {}" class="popup">
    <form ng-submit="editarReactivo()">
        <div class="popContenido">
            <h2>Crear Nuevo Reactivo <span class="pointer" ng-click="popupEditarReactivo=false">X</span></h2>
            <div>
                <p><b class="f22">Detalles del Reactivo</b></p>
                <p>Nombre<input type="text" ng-model="reactivoEditar.nombreReactivo"></p>
                <p>Descripción <textarea name="" id="" cols="40" rows="3" ng-model="reactivoEditar.Descripcion"></textarea> </p>
                <p>Ubicación<input type="text" ng-model="reactivoEditar.Ubicacion"></p>
                <!--<p>Cantidad Actual<input type="number" ng-model="reactivoEditar.CantidadActual" step="0.1" readonly></p>-->
                <p>Unidad Métrica
                    <select ng-model="reactivoEditar.UnidadMetricaID">
                        <option ng-value="u.UnidadMetricaID" ng-selected="reactivoEditar.UnidadMetricaID == u.UnidadMetricaID" ng-repeat="u in unidades">{{u.Nombre}}</option>
                    </select>
                </p>
                <p>Categoria del Reactivo
                    <select ng-model="reactivoEditar.CategoriaID">
                        <option ng-value="c.CategoriaReactivoID" ng-selected="reactivoEditar.CategoriaID == c.CategoriaReactivoID" ng-repeat="c in categorias">{{c.Nombre}}</option>
                    </select>
                </p>
                <p>Cantidad alerta<input type="number" ng-model="reactivoEditar.PuntoReorden" step="0.1"></p>
                <p>Enlace de Hoja de Seguridad<input type="text" ng-model="reactivoEditar.URLHojaSeguridad"></p>
                <p>¿Es Precursor?
                    <label class="checkContainer paddingLeft0">
                    <input type="checkbox" ng-checked="precursor" ng-model="precursor">
                    <span class="checkmark"></span>
                </label>
                </p>
            </div>
            <div class="buttonContainer aDer">
                <button>Modificar</button>
            </div>
        </div>
    </form>
</div>

<div ng-show="panelUnidades" class="popup" ng-init="preUnidades = []; unidadAgregar = {}">
    <div class="popContenido">
        <h2>Unidades de Medida <span class="pointer" ng-click="panelUnidades=false">X</span></h2>
        <div>
            <table class="marginAuto w100pc tbLista">
                <tr>
                    <th>Nombre</th>
                    <th>Siglas</th>
                    <th class="aCentro">Borrar</th>
                    <th class="aCentro">Actualizar</th>
                </tr>
                <tr ng-repeat="u in preUnidades">
                    <td><input readonly ondblclick="setEditable(this)" type="text" ng-model="u.Nombre"></td>
                    <td><input readonly ondblclick="setEditable(this)" type="text" ng-model="u.Siglas"></td>
                    <td class="aCentro"><span ng-click="borrarUnidad(u)"><i class="fa fa-trash bordesLados pointer"></i></span></td>
                    <td class="aCentro"><span ng-click="editarUnidad(u)"><i class="fa fa-check-circle bordesLados pointer"></i></span></td>
                </tr>
                <tr>
                    <td><input readonly ondblclick="setEditable(this)" type="text" title="Nombre" ng-init="unidadAgregar.Nombre =''" ng-model="unidadAgregar.Nombre"></td>
                    <td><input readonly ondblclick="setEditable(this)" type="text" title="Siglas" ng-init="unidadAgregar.Siglas =''" ng-model="unidadAgregar.Siglas"></td>
                    <td colspan="2"><div class="w100pc aCentro">
                        <button title="Agregar nueva unidad" ng-click="agregarUnidad(unidadAgregar)">Agregar Nueva</button>
                    </div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div ng-show="panelCategorias" class="popup" ng-init="preCategorias = []; categoriaAgregar = {}">
    <div class="popContenido">
        <h2>Categorías de Reactivos<span class="pointer" ng-click="panelCategorias=false">X</span></h2>
        <div>
            <table class="marginAuto w100pc tbLista">
                <tr>
                    <th>Nombre</th>
                    <th class="aCentro">Borrar</th>
                    <th class="aCentro">Actualizar</th>
                </tr>
                <tr ng-repeat="c in preCategorias">
                    <td><input readonly ondblclick="setEditable(this)" type="text" ng-model="c.Nombre"></td>
                    <td class="aCentro"><span ng-click="borrarCategoria(c)"><i class="fa fa-trash bordesLados pointer"></i></span></td>
                    <td class="aCentro"><span ng-click="editarCategoria(c)"><i class="fa fa-check-circle bordesLados pointer"></i></span></td>
                </tr>
                <tr>
                    <td><input readonly ondblclick="setEditable(this)" type="text" title="Nombre" ng-init="categoriaAgregar.Nombre =''" ng-model="categoriaAgregar.Nombre"></td>
                    <td colspan="2"><div class="w100pc aCentro">
                        <button title="Agregar nueva categoria" ng-click="agregarCategoria(categoriaAgregar)">Agregar Nueva</button>
                    </div></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div ng-init="panelPregunta" ng-show="panelPregunta" class="popup">
    <div class="popContenido mW30pc">
        <h2>Atención<span class="pointer" ng-click="panelPregunta=false">X</span></h2>
        <div class="fullPadding"style="font-size: 18px;">
            <b>{{mensaje}}</b>
        </div>
        <div class="buttonContainer aDer">
            <button ng-click="borrarReactivo()" >Borrar</button>
            <button ng-click="panelPregunta=false">Cancelar</button>
        </div>
    </div>
</div>
