<h1>Administración de Préstamos</h1>
<ul class="ulMenu">
    <li class="liMenu"><a class="aMenu pointer" href="#!nuevoPrestamo">Solicitud Nueva</a></li>
    <li class="liMenu"><a class="activeMenu aMenu pointer" href="#!adminSoliPrestamos">Administración de Solicitudes</a></li>
</ul>
<br>
<!--<h2>Inventario de Reactivos Químicos</h2> -->

<div style="display: flex; justify-content: space-between; padding: 10px 0px">
    <div class="flex">
        <input class="fullMargin" type="text" ng-model="filtroPrestamos" placeholder="Buscar" id="txtBusqueda">
        <i class="fa fa-search" style="margin-left: -25px; margin-top: 10px; margin-right: 10px;"></i>
    </div>
    <div>
        <button class="h100pc fullPaddingIzqDer" ng-click="cargarListaCristaleria()" title="Actualizar lista"><i class="fa fa-refresh"></i></button>
    </div>
</div>
<table class="tbLista">
    <tr class="aCentro">
        <th>Fecha de Solicitud</th>
        <th>Usuario Solicitante</th>
        <th>Artículo</th>
        <th>Cant Solicitada</th>
        <th>Descripción</th>
        <th>Usuario Autorizador</th>
        <th>Fecha de Autorización</th>
        <th>Estado</th>
        <th>Opciones</th>
    </tr>
    <tr class="aCentro" ng-repeat="p in listaPrestamos | filter:filtroPrestamos">
        <td> {{p.FechaSolicitud}}</td>
        <td>{{p.UsuarioSolicitante}}</td>
        <td>{{p.Articulo}}</td>
        <td> {{p.CantidadSolicitada}}</td>
        <td class="mW200px">{{p.Descripcion}}</td>
        <td>{{p.UsuarioAutorizador}}</td>
        <td> {{p.FechaAutorizacion}}</td>
        <td>{{p.Estado}}</td>
        <td>
            <div  ng-show="p.Estado=='Pendiente'" class="flex noWrap jcCenter">
                <i class="fa fa-check button" ng-click="aprobarPrestamo(c)" title="Aprobar"></i>
                <i class="fa fa-ban button" title="Rechazar"></i>
            </div>
            <div ng-show="p.Estado=='Aprobado'" class="flex noWrap jcCenter aiCenter button">Despachar
                <i class="fa fa-sign-out" ng-click="preBorrarCristaleria(c)" title="Borrar"></i>
            </div>
            <div ng-show="p.Estado=='Despachado' || p.Estado=='Tardío'" class="flex noWrap jcCenter aiCenter button">Devolver
                <i class="fa fa-caret-square-o-left" ng-click="preBorrarCristaleria(c)" title="Borrar"></i>
            </div>
        </td>
    </tr>

</table>
<div ng-init="panelPregunta" ng-show="panelPregunta" class="popup">
    <div class="popContenido mW30pc">
        <h2>Atención<span class="pointer" ng-click="panelPregunta=false">X</span></h2>
        <div class="fullPadding" style="font-size: 18px;">
            <b>{{mensaje}}</b>
        </div>
        <div class="buttonContainer aDer">
            <button ng-click="borrarCristaleria()">Borrar</button>
            <button ng-click="panelPregunta=false">Cancelar</button>
        </div>
    </div>
</div>
