<h1>Administración de Usuarios</h1>
<ul class="ulMenu">
  <li class="liMenu"><a class="aMenu" href="#!adminSolicitudes">Solicitudes de cuentas</a></li>
  <li class="liMenu"><a class="activeMenu aMenu" href="#!adminUsuarios">Administración de usuarios</a></li>
</ul>
<br>
<table class="tbLista">
    <tr class="aCentro">
        <th>Nombre:</th>
        <th>Usuario:</th>
        <th>Correo:</th>
        <th>Rol:</th>
        <th>¿Bloqueado?</th>
        <th>¿Eliminar?</th>
    </tr>

    <tr class="aCentro" ng-repeat="usuario in usuarios">
        <td>{{usuario.Nombre}}</td>
        <td>{{usuario.Usuario}}</td>
        <td>{{usuario.Correo}}</td>
        <td>
            <select ng-model="rolID" ng-init="rolID = usuario.RolID" ng-change="actualizarRolUsuario(usuario.UsuarioID, rolID)">
                <option ng-value="rol.RolID" ng-repeat="rol in roles">{{rol.Nombre}}</option>
            </select>
        </td>
        <td>
            <label class="checkContainer noPointer">
                <input type="checkbox" ng-checked="usuario.Estado == 2"> <!--Estado de Inactividad (bloqueado)-->
                <span class="checkmark" ng-click="cambiarEstadoBloqueo(usuario.UsuarioID, usuario.Estado)"></span>
            </label>
        </td>
        <td><i class="fa fa-times-circle deleteHover" ng-click="actualizarEstadoUsuario(usuario.UsuarioID,4)"></i></td>
    </tr>
</table>
