<h1>Alertas del Sistema</h1>
<ul class="ulMenu">
    <!--
    <li class="liMenu dropdown">
        <a href="#!reporteMovReactivos" class="aMenu activeMenu dropbtn">Reportes de Reactivos</a>
        <div class="dropdown-contentMenu">
            <a href="#!reporteMovReactivos">Ver Movimientos</a>
            <a href="#!reporteReactBajos">Ver Bajos del Mínimo</a>
        </div>
    </li>
    <li class="liMenu dropdown">
        <a href="#!reporteMovCristaleria" class="aMenu dropbtn">Reportes de Cristalería</a>
        <div class="dropdown-contentMenu">
            <a href="#!reporteMovCristaleria">Ver Movimientos</a>
            <a href="#!reporteCristBaja">Ver Bajos del Mínimo</a>
        </div>
    </li>
-->
    <li class="liMenu">
        <a href="#!alertaReactBajos" class="aMenu">Reactivos debajo del mínimo</a>
    </li>
    <li class="liMenu">
        <a href="#!alertaCristBaja" class="aMenu">Cristalería debajo del mínimo</a>
    </li>
    <li class="liMenu dropdown">
        <a href="#!listaNegraReactivos" class="aMenu dropbtn activeMenu">Lista Negra</a>
        <div class="dropdown-contentMenu">
            <a href="#!listaNegraReactivos" class="activeSubMenu">Reactivos</a>
            <a href="#!listaNegraCristaleria">Cristalería</a>
        </div>
    </li>
</ul>
<h2>Lista Personalizada de Notificaciones de Reactivos</h2>

<div style="display: flex; justify-content: space-between; padding: 10px 0px">
    <div class="flex">
        <input class="fullMargin" type="text" ng-model="filtroMovReact" placeholder="Buscar" id="txtBusqueda">
        <i class="fa fa-search" style="margin-left: -25px; margin-top: 10px; margin-right: 10px;"></i>
    </div>
    <div>
        <button class="h100pc fullPaddingIzqDer" ng-click="verActivosBajos(obj)" title="Actualizar lista"><i class="fa fa-refresh"></i></button>
    </div>
</div>

<table class="tbLista" ng-init="tipoLista='reactivos'">
    <tr class="aCentro">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Categoría</th>
        <th>Cant Actual</th>
        <th>Cant de Alerta</th>
        <th>¿Es Precursor?</th>
        <th>Ver Notificaciones</th>
    </tr>
    <tr class="aCentro" ng-repeat="r in listaReactivos | filter:filtroReactivos">
        <td>{{r.nombreReactivo}}</td>
        <td class="mW200px">{{r.Descripcion}}</td>
        <td>{{r.NombreCategoria}}</td>
        <td>{{r.CantidadActual}} {{r.Siglas}}</td>
        <td> {{r.PuntoReorden}} {{r.Siglas}} </td>
        <td>
            <label class="checkContainer noPointer">
                <input type="checkbox" ng-checked="r.EsPrecursor==1" disabled>
                <span class="checkmark"></span>
            </label>
        </td>
        <td>
           <div class="flex jcCenter">
               <div class="yesNoButton" ng-class="!r.enListaNegra?'fondoActivo':''" ng-click="removerDeListaNegra(r)" ><span>SÍ</span></div>
               <div class="yesNoButton" ng-class="r.enListaNegra?'fondoActivo':''" ng-click="agregarAListaNegra(r)"><span>NO</span></div>
           </div>
            <!--
            <div class="flex jcCenter">
                <label class="checkContainer noPointer">
                    <input type="checkbox" ng-checked="r.enListaNegra==false" ng-model="r.enListaNegra" ng-click="removerDeListaNegra(r)" ng-disabled="r.enListaNegra==0">
                    <span class="checkmark checkBoxSiNo">SÍ</span>
                </label>
                <label class="checkContainer noPointer marginL30">
                    <input type="checkbox" ng-checked="r.enListaNegra==true" ng-model="r.enListaNegra" ng-click="agregarAListaNegra(r)" ng-disabled="r.enListaNegra==1">
                    <span class="checkmark checkBoxSiNo" >NO</span>
                </label>
            </div>
-->
        </td>
    </tr>
</table>
