<h1>Alertas del Sistema</h1>
<ul class="ulMenu">
    <!--
    <li class="liMenu dropdown">
        <a href="#!reporteMovReactivos" class="aMenu activeMenu dropbtn">Reportes de Reactivos</a>
        <div class="dropdown-contentMenu">
            <a href="#!reporteMovReactivos">Ver Movimientos</a>
            <a href="#!reporteReactBajos">Ver Bajos del Mínimo</a>
        </div>
    </li>
    <li class="liMenu dropdown">
        <a href="#!reporteMovCristaleria" class="aMenu dropbtn">Reportes de Cristalería</a>
        <div class="dropdown-contentMenu">
            <a href="#!reporteMovCristaleria">Ver Movimientos</a>
            <a href="#!reporteCristBaja">Ver Bajos del Mínimo</a>
        </div>
    </li>
-->
    <li class="liMenu">
        <a href="#!alertaReactBajos" class="aMenu">Reactivos debajo del mínimo</a>
    </li>
    <li class="liMenu">
        <a href="#!alertaCristBaja" class="aMenu">Cristalería debajo del mínimo</a>
    </li>
    <li class="liMenu dropdown">
        <a href="#!listaNegraReactivos" class="aMenu dropbtn activeMenu">Lista Negra</a>
        <div class="dropdown-contentMenu">
            <a href="#!listaNegraReactivos">Reactivos</a>
            <a href="#!listaNegraCristaleria" class="activeSubMenu">Cristalería</a>
        </div>
    </li>
</ul>
<h2>Lista Personalizada de Notificaciones de Cristalería</h2>

<div style="display: flex; justify-content: space-between; padding: 10px 0px">
    <div class="flex">
        <input class="fullMargin" type="text" ng-model="filtroCristaleria" placeholder="Buscar" id="txtBusqueda">
        <i class="fa fa-search" style="margin-left: -25px; margin-top: 10px; margin-right: 10px;"></i>
    </div>
    <div>
        <button class="h100pc fullPaddingIzqDer" ng-click="cargarLista(1)" title="Actualizar lista"><i class="fa fa-refresh"></i></button>
    </div>
</div>

<table class="tbLista" ng-init="tipoLista='cristaleria'">
    <tr class="aCentro">
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Cant Actual</th>
        <th>Cant de Alerta</th>
        <th>Ver Notificaciones</th>
    </tr>
    <tr class="aCentro" ng-repeat="c in listaCristaleria | filter:filtroCristaleria">
        <td>{{c.NombreArticulo}}</td>
        <td class="mW200px">{{c.Descripcion}}</td>
        <td>{{c.CantidadActual}}</td>
        <td> {{c.PuntoReorden}}</td>
        <td>
            <div class="flex jcCenter">
                <div class="yesNoButton" ng-class="!c.enListaNegra?'fondoActivo':''" ng-click="removerDeListaNegra(c)"><span>SÍ</span></div>
                <div class="yesNoButton" ng-class="c.enListaNegra?'fondoActivo':''" ng-click="agregarAListaNegra(c)"><span>NO</span></div>
            </div>
        </td>
    </tr>
</table>
