<h1>Reportes Del Sistema</h1>
<ul class="ulMenu">
    <li class="liMenu"><a class="activeMenu aMenu pointer" href="#!reporteMovReactivos">Movimientos de Reactivos</a></li>
    <li class="liMenu"><a class="aMenu pointer" href="#!reporteMovCristaleria">Movimientos de Cristalería</a></li>
</ul>
<br>
<div class="flex aCentro bgCelestillo" ng-init="objReporteParam = {}">
    <form ng-submit="buscarReporteReactivos(opcion)">
        <table class="inline">
            <tr>
                <td>Consultar:</td>
                <td>
                    <select ng-model="opcion" ng-init="opcion = opciones[0]" ng-options="opcion as opcion.nombre for opcion in opciones"></select>
                </td>
            </tr>
            <tr ng-show="opcion.seleccionarFecha">
                <td>Fecha Inicial:</td>
                <td>
                    <input ng-model="objReporte.fechaIni" type="date"> </td>
            </tr>
            <tr ng-show="opcion.seleccionarFecha">
                <td>Fecha Final:</td>
                <td>
                    <input ng-model="objReporte.fechaFin" type="date"> </td>
            </tr>
            <tr ng-show="opcion.seleccionarCantidad">
                <td>Cantidad:</td>
                <td>
                    <input ng-model="objReporte.cantidad" type="number"> </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Buscar"> </td>
            </tr>
        </table>
    </form>
    <table class="inline" >
        <tr>
            <td>Categoría:</td>
            <td>
                <select ng-model="objReporteParam.CategoriaID">
                    <option ng-value="c.CategoriaReactivoID" ng-repeat="c in categorias" ng-selected="objReactivo.CategoriaID==c.CategoriaReactivoID">{{c.Nombre}}</option>
                </select>
            </td>
        </tr>
    </table>
</div>

<div style="display: flex; justify-content: space-between; padding: 10px 0px">
    <div class="flex">
        <input class="fullMargin" type="text" ng-model="filtroMovReact" placeholder="Buscar" id="txtBusqueda">
        <i class="fa fa-search" style="margin-left: -25px; margin-top: 10px; margin-right: 10px;"></i>
    </div>
</div>
<table class="tbLista">
    <tr class="aCentro">
        <th>Reactivo</th>
        <th>Tipo de Movimiento</th>
        <th>Antes</th>
        <th>Después</th>
        <th>Movido</th>
        <th>Categoría</th>
        <th>Fecha</th>
        <th>Destino</th>
        <th>Observaciones</th>
        <th>Firma</th>
    </tr>
    <tr class="aCentro" ng-repeat="m in listaMovimientosReactivos | filter:filtroMovReact">
        <td>{{m.Reactivo}}</td>
        <td class="mW200px">{{c.Descripcion}}</td>
        <td>{{c.Ubicacion}}</td>
        <td>{{c.CantidadActual}}</td>
        <td> {{c.PuntoReorden}}</td>
        <td>
            <div class="flex noWrap">
                <i class="fa fa-pencil" ng-click="preEditarCristaleria(c)" title="Editar"></i><i class="fa fa-retweet" title="Movimientos"></i><i class="fa fa-trash" ng-click="preBorrarCristaleria(c)" title="Borrar"></i>
            </div>
        </td>
    </tr>
</table>
