<h1>Administración de Precursores</h1>
<ul class="ulMenu">
   <li class="liMenu">
        <a href="#!reporteMovReactivos" class="aMenu">Reportes de Reactivos</a>
    </li>
    <li class="liMenu">
        <a href="#!reporteMovCristaleria" class="aMenu">Reportes de Cristalería</a>
    </li>
    <li class="liMenu">
        <a href="#!reportePrestamos" class="aMenu">Reportes de Préstamos</a>
    </li>
    <li class="liMenu">
        <a href="#!reportePrecursores" class="aMenu activeMenu">Reportes de Precursores</a>
    </li>
</ul>
<br>

<h2>Reporte de Precursores</h2>
<br>

<div class="flex" ng-init="objReporteParam = {}; tipoReporte = 'movPrecursores'">
    <div style="flex-grow: 1">
        <table style="display: inline">
            <form>
                <tr>
                    <td>Consultar:</td>
                    <td>
                        <select ng-model="opcion" ng-init="opcion = opciones[5]" ng-options="opcion as opcion.nombre for opcion in opciones"></select>
                    </td>
                </tr>
                <tr ng-show="opcion.seleccionarFecha">
                    <td>Fecha Inicial:</td>
                    <td>
                        <input ng-model="objReporteParam.FechaDesde" type="date"> </td>
                </tr>
                <tr ng-show="opcion.seleccionarFecha">
                    <td>Fecha Final:</td>
                    <td>
                        <input ng-model="objReporteParam.FechaHasta" type="date"> </td>
                </tr>
                <tr ng-show="opcion.seleccionarCantidad">
                    <td>Cantidad:</td>
                    <td>
                        <input ng-model="objReporteParam.cantidad" type="number"> </td>
                </tr>
                <tr>
                    <td>Categoría</td>
                    <td>
                        <select class="w100pc" ng-model="objReporteParam.CategoriaID" ng-init="objReporteParam.CategoriaID = categorias[0].CategoriaReactivoID" ng-options="c.CategoriaReactivoID as c.Nombre for c in categorias"></select>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="w100pc" ng-click="buscarReporte(opcion,tipoReporte)">Buscar</button>
                    </td>
                </tr>
            </form>
        </table>

    </div>
</div>

<div style="display: flex; justify-content: space-between; padding: 10px 0px">
    <div class="flex">
        <input class="fullMargin" type="text" ng-model="filtroMovPrec" placeholder="Buscar" id="txtBusqueda">
        <i class="fa fa-search" style="margin-left: -25px; margin-top: 10px; margin-right: 10px;"></i>
    </div>

    <div>
        <button class="h100pc" ng-click="preEnviarReportePrecursor()" title="Enviar reporte al correo"> <i class="fa fa-envelope"></i> Enviar reporte al correo</button>
    </div>

</div>

<table class="tbLista">
    <tr class="aCentro">
        <th>Reactivo</th>
        <th>Tipo de Movimiento</th>
        <th>Antes</th>
        <th>Después</th>
        <th>Movido</th>
        <th>Categoría</th>
        <th>Fecha</th>
        <th>Destino</th>
        <th>Observaciones</th>
        <th>Firma</th>
    </tr>
    <tr class="aCentro" ng-repeat="movimiento in listaMovimientosPrecursores | filter:filtroMovPrec">
        <td>{{movimiento.Reactivo}}</td>
        <td class="mW200px">{{movimiento["Tipo de Movimiento"]}}</td>
        <td>{{movimiento.Antes}}</td>
        <td>{{movimiento.Despues}}</td>
        <td>{{movimiento.Movido}}</td>
        <td>{{movimiento.Categoria}}</td>
        <td>{{movimiento.Fecha}}</td>
        <td>{{movimiento.Destino}}</td>
        <td>{{movimiento.Observaciones}}</td>
        <td>{{movimiento.Firma}}</td>
    </tr>
</table>


<div ng-init="popupEnviarReporte = false" ng-show="popupEnviarReporte" class="popup">
    <form ng-submit="enviarReportePrecursores(reporteAEnviar)">
        <div class="popContenido">
            <h2>Enviar Reporte por Correo<span class="pointer" ng-click="popupEnviarReporte=false ">X</span></h2>
            <div class="flex">
                <div>
                    <p><b class="f22">Datos del Correo</b></p>
                    <hr>
                    <p>Para:<input class="w100pc" type="text" ng-model="reporteAEnviar.Para" required></p>
                    <p>Asunto:<input class="w100pc" type="text" ng-model="reporteAEnviar.Asunto" required></p>
                </div>
                <div class="marginL20">
                    <p><b class="f22">Fechas a Incluir en el Reporte</b></p>
                    <hr>
                    <p>Fecha Inicial:</p>
                    <p><input class="w100pc" ng-model="reporteAEnviar.fechaDesde" type="date"></p>
                    <br>
                    <p>Fecha Final:</p>
                    <p><input class="w100pc" ng-model="reporteAEnviar.fechaHasta" type="date"></p>

                </div>
            </div>
            <div class="buttonContainer aDer">
                <input type="submit" value="Enviar">
            </div>
        </div>
    </form>
</div>

