<h1>Administración de Préstamos</h1>
<ul class="ulMenu">
    <li class="liMenu"><a class="activeMenu aMenu pointer" href="#!nuevoPrestamo">Solicitud Nueva</a></li>
    <li class="liMenu"><a class="aMenu pointer" href="#!adminSoliPrestamos">Administración de Solicitudes</a></li>
</ul>
<br>

<div class="flex jcCenter">
    <div class="maxW50pc aCentro miniSombra fullPadding">
        <h2>Registrar un nuevo préstamo de activos</h2>
        <form ng-submit="solicitarPrestamo(objNuevoPrestamo)" ng-init="objNuevoPrestamo = {}">
            <div class="popContenido">
                <div>
                    <p>Tipo de Activo
                        <select ng-change="cargarListaActivos()" ng-init="objNuevoPrestamo.tipoPrestamo = 0" ng-model="objNuevoPrestamo.tipoPrestamo">
                            <option ng-value="0" >Reactivos</option>
                            <option ng-value="1">Cristalería</option>
                        </select>
                    </p>
                    <p>Activo: <br>
                        <input style="max-width: 50%;" type="text" readonly ng-value="objNuevoPrestamo.nombreActivo==undefined?'Seleccione un Activo':objNuevoPrestamo.nombreActivo"> <span title="Buscar Activo" ng-click="panelEscogerActivo = true" class="bgfff marginLN  pointer miniSombra brAll fullPadding efectoPresionar"><i class="fa fa-search"></i></span>
                    </p>
                    <p>Cantidad a Prestar<input type="number" ng-model="objNuevoPrestamo.CantidadSolicitada" step="1" required></p>
                    <p>Descripción <textarea name="" id="" cols="30" rows="3" ng-model="objNuevoPrestamo.descripcion"></textarea> </p>
                    <p class="aDer"><input type="submit" value="Solicitar Préstamo"></p>
                </div>
            </div>
        </form>
    </div>
</div>
<div ng-show="panelEscogerActivo" class="popup">
    <div class="popContenido">
        <h2>Escoger Activo<span class="pointer" ng-click="panelEscogerActivo=false">X</span></h2>
        <div>
            <input class="fullMargin" type="text" ng-model="filtroActivosPrestamos" placeholder="Buscar" id="txtBusqueda">
            <table class="marginAuto w100pc tbLista">
                <tr>
                    <th>Nombre</th>
                    <th class="aCentro">Cantidad Actual</th>
                    <th class="aCentro">Ubicación</th>
                    <th class="aCentro">Elegir</th>
                </tr>
                <tr ng-repeat="a in listaActivos | filter:filtroActivosPrestamos as filteredAc">
                    <td>{{a.nombreReactivo}}{{a.NombreArticulo}}</td>
                    <td class="aCentro">{{a.Ubicacion}}</td>
                    <td class="aCentro">{{a.CantidadActual}}</td>
                    <td class="aCentro"><i ng-click="elegirActivo(a)" class="fa fa-download"></i></td>
                </tr>
                <tr ng-show="!listaActivos || filteredAc.length<1">
                    <td colspan="4">No hay activos que escoger</td>
                </tr>
            </table>
        </div>
    </div>
</div>
